#hero {
    background: transparent url('hero-bg.png') top left repeat;
    border: 1px solid $light-gray;
    border-style: solid none;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    z-index: 1;

    .main-padding {
        color: $black;
    }

    p {
        padding: 0 20%;
    }

    h1 {
        letter-spacing: -3px;
        font: normal 64px/64px $Mensch;
        padding-bottom: 20px;
    }

    h2 {
        span {
            background: transparent url('hero-bg.png') top left repeat;
            display: inline-block;
            padding: 0 10px;
        }

        &.top {
            letter-spacing: -2px;
            font: normal 35px $Mensch;
            padding: 50px 0 35px 0;

            span {
                background: transparent url('hero-bg.png') top left repeat;
                display: inline-block;
                padding: 0 10px;
            }

            &:after {
                background: $black;
                content: "";
                display: block;
                height: 1px;
                margin-top: -17px;
            }
        }

        &.bottom {
            padding-bottom: 20px;

            span.button-container {
                display: inline-block;
                padding: 0 10px;

                button {
                    font-size: 14px;
                }
            }

            &:after {
                background: $black;
                content: "";
                display: block;
                height: 1px;
                margin-top: -16px;
            }
        }
    }
}
