.my-tip-range {
    .my-tip-range-range {
        width: 175px;
        background: url(/assets/range-bg.png) center repeat-x;
        margin: 2px;
        text-align: left;
    }

    .my-tip-range-handle {
        width: 54px;
        margin: 2px;
    }
}
